.main-button {
  position: fixed;
  top: 93.5vh;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 5;
  padding: 0.5rem 1rem;
  border-radius: 50rem;
  background-color: var(--clr-accent);

  font-family: var(--ff-rubic);
  font-weight: bold;
  font-size: 1.2rem;
  border: solid 4px var(--clr-primary);
  color: var(--clr-primary);
  cursor: pointer;
  transition: var(--transition);
}

@media (max-width: 800px) {
  .main-button {
    top: 95vh;
  }
}

@media (max-width: 400px) {
  .main-button {
    top: 86vh;
    font-size: 1.5rem;
  }
}
