.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 7 / 5 / 12 / 9;
    width: 100%;
}

.circle {
    background-color: var(--clr-accent);
    width: 17vw;
    height: 17vw;
    margin: 0 auto;
    border-radius: 50%;
    transition: var(--transition);
}

.box {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--clr-primary);
    border: 2px var(--clr-accent) solid;
    transition: var(--transition);
}

@media (max-width: 1000px) {
    .flex {
        display: none;
    }
}