.site-section {
  height: 100vh;
}

.section1 {
  background-color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 > .text-wrapper {
  width: 70%;
}

.section2 {
  background-color: pink;
  display: flex;
}

.section3 {
  background-color: var(--clr-primary);
}
